[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = Matan Noam Shavit
	email = matan@lot18.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	editor = vim
[alias]
        st = status
        co = checkout
        b = branch
        rb = rebase
        ec = config --global -e
        ci = commit --verbose
        ca = !git add --all && git ci
        up = !git pull upstream master --ff-only --prune && git push
        save = !git add -A && git commit -m 'SAVEPOINT'
        undo = reset HEAD~1 --mixed
        amend = commit -a --amend
        wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
        bclean = "!f() { git b --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git b -d; }; f"
        bdone = "!f() { git co ${1-master} && git up && git bclean ${1-master}; }; f"
        di = diff
        fa = fetch --all
        f = fetch
        dh1 = diff HEAD~1

        # Fancy logging.
        #   h = head
        #   hp = head with patch
        #   r = recent commits, only current branch
        #   ra = recent commits, all reachable refs
        #   l = all commits, only current branch
        #   la = all commits, all reachable refs
        head = !git r -1
	h = !git head
	hp = "!. ~/.githelpers && show_git_head"
	r = !GIT_NO_PAGER=1 git l -30
	ra = !git r --all
	l = "!. ~/.githelpers && pretty_git_log"
	la = !git l --all

